/* SUBSTITUIR: Configuração final para Tailwind v4 */
@import "tailwindcss";

/* Essa linha é a "chave" para o botão funcionar na v4 */
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-zinc-950: #09090b;
}

:root {
  color-scheme: light dark;
}

/* Deixa a troca de cores suave e profissional */
* {
  transition-property: background-color, border-color, color;
  transition-duration: 300ms;
}