@import "tailwindcss";

/* 1. A CHAVE MÁGICA: Isso ensina o Tailwind v4 a obedecer a classe .dark */
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-zinc-950: #09090b;
}

/* 2. RESET GLOBAL */
:root {
  color-scheme: light dark;
}

/* 3. TESTE ATÔMICO (Mantenha isso até funcionar) */
html.light body {
  background-color: pink !important;
}

html.dark body {
  background-color: purple !important;
}